.navbar{
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #4682B4;
    padding: 1rem;
    background-color: transparent;
    color: #333;
    z-index: 5;
  }
  .navbar-logo{
    margin-left: 10%;
  }
  
  .navbar-logo img {
    height: 30px;
    
  }
  
  .navbar-logo a {
    color: #5aa8e7;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    height: 10px;
    
  }
  .navbar-logo a:hover {
    color: #0a2a4d;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-weight: bold;
    margin-right: 10%;
  }
  
  .navbar-menu li {
    display: inline;
  }
  
  .navbar-menu a {
    color: #5aa8e7;
    text-decoration: none;
  }
  
  .navbar-menu a:hover {
    color: #0a2a4d;
  }
  